.list {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  transition: background 0.2s ease;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text, #222);
}

.right {
  display: flex;
  align-items: center;
  align-self: end;
}

.socialIcon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.socialIcon svg {
  width: 2rem;
  height: 2rem;
}

.description {
  font-size: 0.85rem;
  color: var(--foreground-dim-color);
  line-height: 1.25rem;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
  }

  .left {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
/* .socialIcon img {
  width: 2.2rem;
  height: 2.2rem;
} */

/* .btn {
  padding: 0.4rem 0.9rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition:
    background 0.2s ease,
    color 0.2s ease;
} */

/* .btnConnect {
  background: var(--color-accent, #0070f3);
  color: white;
}

.btnConnect:hover {
  background: #005ad0;
}

.btnDisconnect {
  background: #eee;
  color: #333;
}

.btnDisconnect:hover {
  background: #ddd;
} */
