.sidebar {
  grid-area: sidebar;
  position: relative;

  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    width 0.3s ease;
  z-index: 3001;
  cursor: e-resize;
}

.overlay {
  /* position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease; */
  z-index: 3000;
  transition: opacity 0.3s ease;
}

.collapseBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1200; */
}

.collapseBtn svg {
  width: 18px;
  height: 18px;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 767px) {
  .sidebar.mobile.collapsed {
    width: 48px;
  }

  .sidebar.mobile:not(.collapsed) {
    width: 220px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  }

  .sidebar.mobile:not(.collapsed) .overlay {
    opacity: 1;
    pointer-events: all;
  }
}

/* ---------------- DESKTOP ---------------- */
@media (min-width: 768px) {
  .sidebar {
    position: relative;
    width: 220px;
    transform: none;
    cursor: default;
  }

  .sidebar.desktop.collapsed {
    width: 48px;
    cursor: e-resize;
  }

  .overlay {
    display: none;
  }
}
